$wh: #fff;
$bl: #000;

%cerapro-400 {
  font-family: "CeraPro-Regular", sans-serif;
  font-weight: 400;
}

%cerapro-500 {
  font-family: "CeraPro-Medium", sans-serif;
  font-weight: 500;
}

%cerapro-700 {
  font-family: "CeraPro-Bold", sans-serif;
  font-weight: 700;
}
