body {
  font-size: 14px;
  line-height: 1;
  color: $bl;
  background-color: $wh;

  @extend %cerapro-400;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1390px;
}

.subtitle {
  height: 130px;
  letter-spacing: 0.04em;
  text-align: right;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);

  @extend %cerapro-500;
}

.top-subtitle {
  @include r(550) {
    display: none;
  }
}